<settings>
    <servers>
        <server>
            <id>nexus</id>
            <username>${NEXUS_USER}</username>
            <password>${NEXUS_PASSWORD}</password>
        </server>
    </servers>

    <mirrors>
        <mirror>
            <id>nexus</id>
            <mirrorOf>*,!central</mirrorOf>
            <url>http://${NEXUS_HOST}:${NEXUS_PORT}/repository/microservices-soap-service-r/</url>
        </mirror>
    </mirrors>
</settings>
